.mediaViewInfo {
	--web-view-name: menu;
	--web-view-id: menu;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: menu;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#menu {
	position: absolute;
	width: 360px;
	height: 640px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: menu;
	--web-view-id: menu;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes  {


}
#Ellipse_1 {
	opacity: 0.61;
}
.Ellipse_1 {
	filter: drop-shadow(4px 10px 6px rgba(0, 0, 0, 0.302));
	position: absolute;
	overflow: visible;
	width: 483px;
	height: 502px;
	left: -52px;
	top: -156px;
}
#Repeat_Grid_2 {
	position: absolute;
	width: 141px;
	height: 238px;
	left: 110px;
	top: 192px;
	overflow: hidden;
}
#Repeat_Grid_2_0 {
	position: absolute;
	width: 142px;
	height: 27px;
	left: -1px;
	top: 0px;
	overflow: visible;
}
#PHOTOSHOP_ {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 143px;
	height: 27px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Repeat_Grid_2_1 {
	position: absolute;
	width: 142px;
	height: 27px;
	left: -1px;
	top: 47px;
	overflow: visible;
}
#XD_ {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 143px;
	height: 27px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Repeat_Grid_2_2 {
	position: absolute;
	width: 142px;
	height: 27px;
	left: -1px;
	top: 94px;
	overflow: visible;
}
#AFTER_EFFECTS_ {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 143px;
	height: 27px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Repeat_Grid_2_3 {
	position: absolute;
	width: 142px;
	height: 27px;
	left: -1px;
	top: 141px;
	overflow: visible;
}
#AI {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 143px;
	height: 27px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Repeat_Grid_2_4 {
	position: absolute;
	width: 142px;
	height: 27px;
	left: -1px;
	top: 188px;
	overflow: visible;
}
#PREMIER_PRO {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 143px;
	height: 27px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Repeat_Grid_2_5 {
	position: absolute;
	width: 142px;
	height: 27px;
	left: -1px;
	top: 235px;
	overflow: visible;
}
#PHOTOSHOP__x {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 143px;
	height: 27px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#CLOSE_Button {
	position: absolute;
	width: 9.885px;
	height: 14.393px;
	left: 175.115px;
	top: 430.468px;
	overflow: visible;
	--web-animation: fadein 1s bounce;
	--web-action-type: page;
	--web-action-target: home.html;
	cursor: pointer;
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 3.868px;
	height: 14.183px;
	transform: translate(-202.115px, -41.468px) matrix(1,0,0,1,205.1237,41.573) rotate(27deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 3.868px;
	height: 14.183px;
	transform: translate(-202.115px, -41.468px) matrix(1,0,0,1,205.1237,41.573) rotate(-27deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}